<div class="chat-container" [class.is-empty]="!messages.length" autoScrollToBottom>
    <div class="message-container">
        @if (messages.length) {
            @for (m of messages; track m.id) {
                @if (m.role === 'bot') {
                    <div class="message-response"><markdown [data]="m.content"></markdown></div>
                }
                @if (m.role === 'user') {
                    <div class="message-request"><markdown [data]="m.content"></markdown></div>
                }
            }
        }
    </div>

    <div class="bottom-container">
    <textarea
            rows="1"
            pTextarea
            [(ngModel)]="userMessage"
            (keydown.enter)="sendMessage(); $event.preventDefault()"
            placeholder="Stel een vraag…"
            class="chat-input"
    ></textarea>
    </div>
</div>